.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-container {
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 88px;
  background-color: #FF4F4F;
  align-content: center;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.to-do-checkbox {
  color: white;
  font-size: 40px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-self: center;
  line-height: 62px;
  margin-left: 8px;
  margin-right: 8px;
}

.to-do-text {
  color: white;
  font-size: 24px;
  height: fit-content;
  align-self: center;
  font-family: 'Open Sans';
  font-weight: normal;
  margin-left: 0px;
  overflow-y: scroll;
  height: fit-content;
  max-height: 88px;
  width: 100%
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.to-do-text::-webkit-scrollbar {
  display: none;
}

.to-do-delete {
  background-color: #FF4F4F;
  border: none;
  color: white;
  font-size: 42px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-self: center;
  line-height: 62px;
  margin-right: 12px;
  margin-left: auto;
}

.to-do-delete.completed {
  background-color: #ffabab;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 120px;
  margin-bottom: 6px;
  border-bottom: 4px solid #4D4D4D;
  width: 98%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.header-title {
  color: #4D4D4D;
  font-size: 56px;
  height: fit-content;
  align-self: center;
  font-family: 'Open Sans';
  font-weight: normal;
  margin-left: 20px;
}

.header-add-task {
  background-color: #FF4F4F;
  width: 80px;
  height: 80px;
  align-self: center;
  border-radius: 8px;
  margin-right: 20px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-add-task-text {
  color: white;
  align-self: center;
  font-size: 48px;
  line-height: 36px;
}